.cards{
    border-radius: 10px;
    width: 35%;
    height: 28vh;
    background-color: darkorchid;
}

.cards::before{
    background-color: black;
}
.atividades{
    display: flex;
    flex-direction: column;
}

.tituloatividades{
    text-align: center;
    width: 100%;
}

#txtatv{
    font-size: 4vw;
    color: #ff471a;
    margin-bottom: 2%;
}
.cardsatividades{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    align-items: center;

    width: 100%;
    height: 100vh;
}