.cards{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    width: 35%;
    height: 28vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards:hover{
    justify-content: start;
}

.cards:hover .cardssaibamais{
    display: none;
}
.cards:hover .descricao{
    display: flex;
    text-align: center;
}
.descricao{
    display: none;
}
.titulocards{
    color: #ff471a;
    font-size: 35px;
}
#divatividades{
    display: flex;
    flex-direction: column;
}

.tituloatividades{
    text-align: center;
    width: 100%;
}

#txtatv{
    font-size: 50px;
    color: #ff471a;
    margin-bottom: 2%;
}
.cardsatividades{
    display: flex;
    flex-flow:column wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#topleft{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/gym.jpeg");
}

#midleft{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/cross.jpeg");
}

#botleft{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/dance.jpeg");
}

#topright{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/musculacao.jpeg");
}

#midright{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/pilates.jpeg");
}

#botright{
    background-image:linear-gradient(rgba(0,0,0,0.77),rgba(0,0,0,0.77)), url("img/bike.jpeg");
    background-position: center;
}

@media screen and (max-width: 997px){

    #txtatv{
        font-size: 35px;
    }
    .titulocards{
        font-size: 20px;
    }

}


@media screen and (max-width: 675px){

    #txtatv{
        font-size: 25px;
    }
    .titulocards{
        font-size: 15px;
    }
}

@media screen and (max-width: 350px){

    .titulocards{
        font-size: 10px;
    }
}