#contato{
    flex-wrap: wrap;
}


.enviar{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.titulocontato{
color: white;;
font-size: 40px;
text-align: center;
margin-top: 1%;
}

.inputext{
    font-size: 20px;
    width: 35vw;
    height: 7vh;
    border-radius: 8px;
}

.form{
    margin-top: 2%;
    display: flex;
    flex-flow: column wrap;
    width: 75%;
    justify-content: space-between;
    align-content: space-around;
}

#msg{
    height: 100%;
    resize: none;
}
#buttonenviar{
    font-size: 30px;
    padding: 1vh 1.8vw;
}
.label{
    width: 100%;
    height: 10%;
}
.formulariu{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    background-image: url("img/contato.png");
    background-size: cover;
    height: 70vh;
}
.formulario{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50%;
    overflow: hidden;
}

#logofooter{
    margin-left: 3%;
    margin-right: 3%;
}
.icons{
    align-self: flex-end;
    width: 2vw;
    height: 2vw;
    margin-right: 2px;
}

.footer{
    align-self: flex-end;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    height: 30vh;
    background-color: #ececec;
}

.upfooter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 85%;
    height: 60%;
}

.downfooter{
    border-top: solid 1px;
    border-color: #9da0a1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 20%;

}


.informacoes{
    text-decoration: none;
    font-size: 15px;
    color: black;
}

@media screen and (max-width: 1024px){
    .informacoes{
        font-size: 13px;
    }
  
}
@media screen and (max-width: 997px){

    #buttonenviar{
        font-size: 15px;
    }

    .titulocontato{
        font-size: 30px;
    }

    .formulariu{
        background-position-x: 25%;
    }
    .informacoes{
        font-size: 10px;
    }
}


@media screen and (max-width: 675px){
    
    .titulocontato{
        font-size: 20px;
        }
    #buttonenviar{
        font-size: 15px;
    }
    .inputext{
        font-size: 15px;
    }

    .upfooter{
        flex-direction: column;
        width: 90%;
        height: fit-content;
    }
    
    .downfooter{
        flex-direction: column;
        height: fit-content;
    }
    
}