/* NAVEGACAO */

.logo{
    margin-left: 5%;
}
nav {
   position: fixed;
   display: flex;
   width: 100%;
   background-color: rgba(255, 72, 26, 0.176);
   justify-content: flex-end;
   z-index: 100;
}

nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    margin-right: 3%;
}

nav ul li {
    width: fit-content;
    margin-left: 5%;
}

nav ul li a{
    font-size: 25px;
    color: white;
    text-decoration: none;
}



@media screen and (max-width: 997px){
    nav ul li a{
        font-size: 20px;
    }
}


@media screen and (max-width: 675px){
    .logo{
        margin-left: 0;
        transform: scale(0.5);
    }

    nav ul li a{
        font-size: 10px;
    }

    nav ul li {
        width: fit-content;
        margin-left: auto;
    }
}