.tituloplanos{

    width: 100%;
    color: #ff471a;
    font-size: 50px;
    margin-top: 2%;
    margin-bottom: 3%;
}

.titulocardsplanos{
    color: black;
    font-size: 32px;
}
.divcardsplanos{
    width: 100%;
    margin-top: 2%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cardsplanos:hover{
    transform: scale(1.1);
}
#iconeplanos{
    height: 35%;
    width: 15vw;
}
.cardsplanos{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items:center ;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    border-color: #9da0a1;
    width: 20vw;
    height: 70vh;
}

#comprar{
    font-size: 25px;
    padding: 1vh 1.8vw;
}

.sobreplanos{
    color: #9da0a1;
}

#divplanos{
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}


@media screen and (max-width: 997px){


    #comprar{
        margin: 8%;
        font-size: 15px;
    }

    .tituloplanos{
        font-size: 35px;
    }
    .titulocardsplanos{
        font-size: 20px;
    }

    .divcardsplanos{
     margin-bottom: 10%;
    }

}


@media screen and (max-width: 675px){
  
    #comprar{
        margin: 8%;
        font-size: 10px;
    }

    .tituloplanos{
        font-size: 20px;
    }
    .titulocardsplanos{
        font-size: 10px;
        margin-top: 5%;
    }


    .divcardsplanos{
        flex-direction: column;
    }

    .cardsplanos{
        width: 80vw;
        height: 30vh;
        margin: 7%;
    }
}