/* SOBRE */

#divsobre{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#icone{
    width: 20%;
    height: 30%;
}

#divsobre p {
    font-size: 1.5vw;
    color: black;
    padding: 5%;;
    opacity: 80%;
}

#conhecaosplanos{
    font-size: 1.7vw;
    padding: 1vh 1.8vw;
}